// fonts
$font-sfui: 'SF UI  Text', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

// background colors
$bg-header: #f5f7fd;
$bg-footer: #f5f7fd;
$bg-intro: #f5f7fd;
$bg-btn-primary: #1e4eff;

// colors
$color-block-title: #363636;
$color-block-subtitle: #363636;

$color-gray: #f5f7fd;
$color-font-gray: #989fc1;
$color-description: #2b2b2b;
