extends layouts/default

block content
  include includes/intro
  include includes/features
  include includes/overview
  include includes/download
  include includes/team
  include includes/contact-us
