.container-fluid.container-block.get-app(id="download")
    .container
        h2.block-title Get Anchor Now
        p.block-subtitle Anchor is very useful and lovely application. We concentrated all our<br>experience in this app to make it safe and reliable.
        a.get-app__link-download(href='#')
            img(src='../images/appStore-download.svg' width='220')
